<app-navbar></app-navbar>
<div class="container-fluid">
  <section class="my-5 section-0">
    <h1>Your Online Library</h1>
    <h2>Library ESEN</h2>
    <form action="" class="d-flex justify-content-center">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search a book"
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
        />
        <div class="input-group-append">
          <button class="btn btn-outline-green" type="button">
            <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
          </button>
        </div>
      </div>
    </form>
    <p>
      Discover academic journals, articles, & books on one seamless platform
    </p>
  </section>
  <!--<section class="top-picks">
        <div class="recommanded">
            <i class="bi bi-bell" style="font-size: 22px;"></i>
            Recommanded
        </div>
        <div class="row p-5">
            <div class="col-2 book">
                <div class="front">
                    <img src="assets/img/9782100813728-001-X.jpeg" width="100%" height="auto" alt="">
                </div>
                <div class="left-side"></div>
            </div>
            <div class="col-2 book">
                <div class="front">
                    <img src="assets/img/9782100817870-001-X.jpeg" width="100%" height="auto" alt="">
                </div>
                <div class="left-side"></div>
            </div>
            <div class="col-2 book">
                <div class="front">
                    <img src="assets/img/9782100834303-001-X.jpeg" width="100%" height="auto" alt="">
                </div>
                <div class="left-side"></div>
            </div>
            <div class="col-2 book">
                <div class="front">
                    <img src="assets/img/9782100836857-001-X.jpeg" width="100%" height="auto" alt="">
                </div>
                <div class="left-side"></div>
            </div>
            <div class="col-2 book">
                <div class="front">
                    <img src="assets/img/9782100841493-001-X.jpeg" width="100%" height="auto" alt="">
                </div>
                <div class="left-side"></div>
            </div>
            <div class="col-2 book">
                <div class="front">
                    <img src="assets/img/9782100851263-001-X.jpeg" width="100%" height="auto" alt="">
                </div>
                <div class="left-side"></div>
            </div>

        </div>
    </section>-->
  <section>
    <div class="recommanded">
      <h4><i class="bi bi-bell-fill"></i> RECOMMANDED</h4>
    </div>
  </section>
  <section class="section-1">
    <div class="row p-5">
      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="img-area">
          <img
            src="assets/img/9782100813728-001-X.jpeg"
            width="100%"
            height="auto"
            alt=""
          />
          <div class="img-text">
            <h3>Intelligence artificielle</h3>
            <h5>Melanie Mitchell</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="img-area">
          <img
            src="assets/img/9782100817870-001-X.jpeg"
            width="100%"
            height="auto"
            alt=""
          />
          <div class="img-text">
            <h3>Connectivité Wireless</h3>
            <h5>Martine Villegas, Fabien Robert, Lucas Letailleur</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="img-area">
          <img
            src="assets/img/9782100834303-001-X.jpeg"
            width="100%"
            height="auto"
            alt=""
          />
          <div class="img-text">
            <h3>
              15 énigmes ludiques pour s'initier à la programmation Python -
            </h3>
            <h5>Pascal Lafourcade, Malika More</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="img-area">
          <img
            src="assets/img/9782100836857-001-X.jpeg"
            width="100%"
            height="auto"
            alt=""
          />
          <div class="img-text">
            <h3>Le carnet du régleur - 19e édition</h3>
            <h5>Jean-Marie Valance, Bernard Poussery, Corine Valance</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="img-area">
          <img
            src="assets/img/9782100841493-001-X.jpeg"
            width="100%"
            height="auto"
            alt=""
          />
          <div class="img-text">
            <h3>Cybersécurité - 7e édition</h3>
            <h5>Solange Ghernaouti</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="img-area">
          <img
            src="assets/img/9782100851263-001-X.jpeg"
            width="100%"
            height="auto"
            alt=""
          />
          <div class="img-text">
            <h3>Électronique. Fondements et applications - 2e édition</h3>
            <h5>
              José-Philippe Pérez, Christophe Lagoute, Jean-Yves Fourniols,
              Stéphane Bouhours
            </h5>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-2 my-5">
    <div class="domaine">
      <h4><fa-icon [icon]="faMicroscope"></fa-icon>Science</h4>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-4"></div>
      <div class="col-lg-2 col-md-3 col-sm-4"></div>
      <div class="col-lg-2 col-md-3 col-sm-4"></div>
      <div class="col-lg-2 col-md-3 col-sm-4"></div>
      <div class="col-lg-2 col-md-3 col-sm-4"></div>
      <div class="col-lg-2 col-md-3 col-sm-4"></div>
    </div>
    <div class="domaine">
      <h4><fa-icon [icon]="faChartPie"></fa-icon>Business & Economics</h4>
    </div>
    <div class="domaine">
      <h4><fa-icon [icon]="faMicrochip"></fa-icon>Technologies</h4>
    </div>
    <div class="domaine">
      <h4><fa-icon [icon]="faPalette"></fa-icon>Art</h4>
    </div>
    <div class="domaine">
      <h4><fa-icon [icon]="faBook"></fa-icon>History</h4>
    </div>
    <div class="domaine">
      <h4><fa-icon [icon]="faBrain"></fa-icon>Culture</h4>
    </div>
    <div class="domaine">
      <h4><fa-icon [icon]="faBaseballBatBall"></fa-icon>Sport</h4>
    </div>
  </section>
</div>
