/** Navbar CSS */
.navbar-brand{
    font-family: 'Wolvertton Signature', sans-serif;
    word-spacing: 15px;
    font-size: 60px;
    font-weight: 400 !important;
  }
  .navbar{
    background-color: #103025    ;
  }
  .nav-item i{
    color: white !important;
    font-size: 16px;
    padding: 8px 14px 8px 0;
  }
  li{
    display: flex;
  }
  .login-btn{
    text-decoration: none;
    padding: 0.37rem 0.75rem  ;    
    margin: 5px auto;
    border: 1px solid #c4d0ce;
    border-radius: 0.375rem;
    color: #103025;
    background-color: #c4d0ce;
  }
  .login-btn:hover{
    background: transparent;
    border: 1px solid #c4d0ce;
    color: #c4d0ce;
  }