<nav class="navbar navbar-dark " >
    <!-- Navbar content -->
    <div class="container-fluid">
        <a class="navbar-brand page-title" href="#" style="font-size: 50px;">Library  Esen</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <i class="bi bi-house-door"></i>
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <i class="bi bi-search-heart-fill"></i>
              <a class="nav-link" href="#">Search</a>
            </li>
            <li class="nav-item">
              <a class="login-btn" role="button" href="#" data-bs-toggle="modal"  (click)="openDialog()">Log In</a>
            </li>
          </ul>
        </div>
      </div>
  </nav>
