<h1 mat-dialog-title>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
  ></button>
</h1>

<div mat-dialog-content>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-7 col-md-9 col-sm-12">
        <h1>Log In & Start reading</h1>
        <div class="text-center">
          <a href=""
            ><img src="assets/img/fb.png" alt="" width="35" height="auto"
          /></a>
          <a href=""
            ><img src="assets/img/google.png" alt="" width="35" height="auto"
          /></a>
          <p>Or</p>
        </div>
        <form action="" class="mt-4">
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control shadow-none"
              id="floatingInput"
              placeholder="name@example.com"
            />
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating">
            <input
              type="password"
              class="form-control shadow-none"
              id="floatingPassword"
              placeholder="Password"
            />
            <label for="floatingPassword">Password</label>
          </div>
        </form>
      </div>
      <div class="col-lg-5 col-md-3 col-sm-12">
        <img
          src="assets/img/pexels-taryn-elliott-9565965.jpg"
          alt=""
          width="100%"
          height="auto"
        />
      </div>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
    Close
  </button>
  <button type="button" class="btn btn-primary">Understood</button>
</div>
